<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>Wayne's Blog</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--link  href="{% static "base.css" %}" rel="stylesheet" type="text/css"-->
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
  <body >
    <div class="main_div">
        <div id="title" class="title">
            {% block title %}
            <a style="text-decoration:none;color:#428bca" href = "/">Quentin</a>
            {% endblock %}
        </div>
        <div id="content" class="content">
            <div class="left-part" >
            {% block contents %}
            {% endblock %} 
            </div>
            <div class="right-part">
            {% block about %}
            <div class="about" style="color:#8A6D3B;"> Rollingwayne </div><br/>
            <div class="about"> For my favorite director! </div><br/>
            {% endblock %}
            {% block sidebar %}
            {% endblock %}
            </div>
            <div style="clear:both;"></div>
            <div class="bottom-part">
            {% block comments %}
            {% endblock %} 
            </div>
        </div>
    </div>
  </body>
</html>
