
{% extends 'base.html' %}
{% load djangomarkdown %}
{% load pagination_tags %}

{% block title %}
<div>
<a style="text-decoration:none" class="back-button icon-arrow-left" href="/#content"> 回到首页</a> 
</div>

{% endblock %}
{% block contents %}
<div class="content">
<h1 class="post-title">{{ blog.title }}</h1>
<p>{{ blog.timestamp }}</p>
<p>{{ blog.body|djangomarkdown }}</p>

</div>
{% endblock %}


{% block comments %}
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
{% endblock %} 
