
{% extends 'base.html' %}
{% load pagination_tags %}
{% load djangomarkdown %}
 
{% block contents %}
{% autopaginate posts 2 %}

{% for post in posts %}
<a style="font-size:25px" href="/blog_detail/{{ post.id }}/">{{ post.title }}</a>
<p>{{ post.timestamp | date:"M d Y"}}</p>
<p>{{ post.body | djangomarkdown }}</p>
{% endfor %}

{% paginate %}
{% endblock %}

{% block sidebar %}
<div style="text-align:center">
<form action="/search/" method="get">{% csrf_token %}
<input type="text" class="form-control" id="search" name="search" size="15px" placeholder="           Search">
</form>
{% for date in dates %}
<a class=archive style="color:#428bca;" href= "/archive?year={{ date.year }}&month={{ date.month }}" >{{ date.year }}年{{ date.month }}月 ({{ date.count }})
</a><br/>
{% endfor %}
</div>
{% endblock %}

