{% if is_paginated %}
{% load i18n %}
<div class="pagination">
    {% if page_obj.has_previous %}
       <a role="button" class="btn btn-default  " href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}"> {% trans "previous" %}</a>
    {% else %}
        <a role="button" class="btn btn-default  " disabled="disabled"> {% trans "previous" %}</a>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <a role="button" class="btn btn-sm btn-default" >{{ page }}</a>
            {% else %}
               <a role="button" class="btn btn-sm btn-default" href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a role="button" class="btn btn-default  " href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" >{% trans "next" %}</a>
    {% else %}
        <a role="button" class="btn btn-default" disabled="disabled"  >{% trans "next" %}</a>
    {% endif %}
</div>
{% endif %}
