<html>
<style type="text/css">
a{text-decoration:none;color:red}
.title {font-size:20px;padding: 1em; background: none repeat scroll 0% 0% #FFF; text-align:center;}
.main_div{width:850px; margin:0 auto;border:10px #405062 solid;}
.content{padding:1em;min-height:150px; background: none repeat scroll 0% 0% #FFF;}
body {background-color:#5d6e81;padding:0px;}
</style>

<head>
<title>
Wayne's Blog
</title>
</head>
<body >
<div class="main_div">
    <div id="title" class="title">
        <a style="text-decoration:none;color:red" href = "/">Internal server error</a>
    </div>
    <div id="content" class="content">
        <h1 style="text-align:center">哎呀，被你看到了！伦家会不好意思的～</h1>
    </div>
</div>
</body>
</html>
